DEBUG = False
AUTH_KEY = 'secretkey'
SITES = {
    'site1': {
        'origin': 'https://www.site1.com'
        'filename': '{0}.jpg',
        'path': '/home/nick/downloads/site1/',
        'url': 'https://www.site1.com/download/{0}.jpg',
    },
    'site2': {
        'origin': 'https://site2.org'
        'filename': '{0}.mp4',
        'path': '/home/nick/downloads/site2/',
        'url': 'https://cdn.site1.org/{0}.mp4',
    },
}
